<app-header></app-header>

<div class="container">
  <h1 class="headline titleSpacer">Product details</h1>

  <mat-card class="detailsCard">

    <img src="/assets/images/prod.png" alt="prod" class="imgCard">

    <div class="bodyCard">
      <div class="headerCard">
        <h4>{{prodInfo.name}}</h4>
        <button mat-button matTooltip="Go back" (click)="goBack()">
          <mat-icon>clear</mat-icon>
        </button>
      </div>

      <mat-divider class="position-relative"></mat-divider>
      <span>{{prodInfo.description}}</span>
      <span class="price">{{prodInfo.price | toClpPipe}}</span>
    </div>

  </mat-card>
</div>